:root {
  /* Primary colors */
  --primary-dark: #8742ff;
  --primary-extra-light: #e2d1ff;
  --primary-medium: #9e66ff;

  /* Neutral colors */
  --neutral-black: #030302;
  --neutral-gray: #f5f3f2;
  --neutral-gray-darkest: #575452;
  --neutral-gray-dark: #817c79;
  --neutral-gray-medium: #bdbab9;
  --neutral-gray-light: #e7e6e5;
  --neutral-white: #fdfcfc;

  /* Shadows */
  --shadow-light: 0px 4px 16px 0px rgba(87, 84, 82, 0.1);
  --shadow-medium: 0px 8px 24px 0px rgba(87, 84, 82, 0.12);

  /* Gradient */
  --gradiente-light: linear-gradient(90deg, #c4f5f6 -63.31%, #e2d1ff 114.71%);
}
