:root {
  /* Font sizes */
  --fs-03: 0.875rem; /*14px */
  --fs-4: 1rem; /* 16px */
  --fs-5: 1.125rem; /* 18px */
  --fs-6: 1.25rem; /* 20px */
  --fs-7: 1.5rem; /* 24px */
  --fs-8: 2rem; /* 32px */
  --fs-9: 2.5rem; /* 40px */
  --fs-10: 3.5rem; /* 56px */

  /* Font Weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}

.title--big {
  font-size: var(--fs-9);
  font-weight: var(--fw-300);
  line-height: 1.2;
  opacity: 0.87;
}

.title {
  font-size: var(--fs-8);
  font-weight: var(--fw-600);
  line-height: 1.25;
}

.title--small {
  font-size: var(--fs-7);
}

.title--extra-small {
  font-size: var(--fs-6);
  line-height: 1.3;
}

.regular-text,
.regular-text-static {
  font-size: var(--fs-4);
  font-weight: var(--fw-400);
  line-height: 1.35;
}

.text2 {
  font-size: var(--fs-03);
  font-weight: var(--fw-400);
  line-height: 1.25;
}

@media (min-width: 48em) {
  .title--big {
    line-height: 2.8rem;
    font-size: var(--fs-9);
  }
}

@media (min-width: 80em) {
  .title--big {
    line-height: 1.07;
    font-size: var(--fs-10);
  }

  .title {
    font-size: var(--fs-9);
    line-height: 1.2;
  }

  .title--small {
    font-size: var(--fs-8);
  }
  .title--extra-small {
    font-size: var(--fs-7);
  }

  .regular-text {
    font-size: var(--fs-5);
  }
}
