.footer {
  background: var(--gradiente-light);
  word-break: break-word;
  padding-top: 20rem;
  margin-top: -16rem;
  z-index: 0;
  position: relative;
}

.infoContainer {
  padding: 4rem 0;
}

.infoContainer,
.infoContainer div,
.infoContainer address {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.infoContainer div,
.infoContainer address {
  gap: 0.5rem;
}

.infoContainer a:hover,
.infoContainer a:active {
  text-decoration: underline;
}

.infoContainer a:visited {
  text-decoration: none;
}

.infoSubtitle {
  color: var(--neutral-gray-darkest);
  text-wrap: wrap;
}

.infoField {
  display: inline-flex;
  gap: 0.5rem;

  font-style: normal;
  line-height: 22px;
}

.infoField img {
  width: 1.5rem;
}

.logoContainer {
  padding: 1rem 0;
  background: var(--neutral-white);
}

.tpblogo {
  width: 9.75rem;
  margin: auto;
}

@media (min-width: 48em) {
  .footer {
    padding-top: 14rem;
    margin-top: -10rem;
  }
  .infoContainer {
    flex-direction: row;
    gap: 5.5rem;
  }
}
