.section {
  padding-bottom: 3rem;
}

.carousel {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 3rem;
  height: 39rem;
}

.carousel::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--neutral-gray);
  background: linear-gradient(
      270deg,
      var(--neutral-gray) 0%,
      rgba(245, 242, 242, 0) 50%
    ),
    linear-gradient(90deg, var(--neutral-gray) 0%, rgba(245, 242, 242, 0) 50%);
  z-index: 1;
}

.card {
  border-radius: 1.5rem;
  background-color: var(--neutral-white);
  padding-top: 48px;
  padding-inline: 24px;
  box-shadow: var(--shadow-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  padding: 2px;
  background: var(--gradiente-light);
  mask:
    linear-gradient(var(--neutral-white) 0 0) content-box,
    linear-gradient(var(--neutral-white) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.card > p {
  margin-bottom: 1rem;
}

.card img {
  --tamanho: 5.375rem;
  border-radius: 100%;
  width: var(--tamanho);
  border: 8px solid white;
  position: absolute;
  top: calc(var(--tamanho) / -2);
  margin-bottom: 20px;
}

/* .preview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

}
*/
.previewItem {
  cursor: pointer;
  z-index: 2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  background-color: #ccc;
}

.active {
  background-color: #333;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.control {
  cursor: pointer;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

.slide-in-left {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}
