.depoiments {
  background-color: var(--neutral-white);
  padding-top: 5rem;
  text-align: center;
  height: 90vh;
}

.title {
  margin-bottom: 2rem;
}
.swiper__slide {
  position: relative;
  padding-inline: 3rem;
  padding-block: 5rem;
}

@media (min-width: 48em) {
  .depoiments {
    padding-inline: 2rem;
  }
  .left {
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;

    position: absolute;
    z-index: 2;
    background: linear-gradient(
      90deg,
      var(--neutral-white) 59.07%,
      rgba(253, 252, 252, 0.05) 100%
    );
  }

  .right {
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(
      270deg,
      var(--neutral-white) 59.07%,
      rgba(253, 252, 252, 0.05) 100%
    );
  }
}
