:root {
  --container-width: 86.75;
}

.container {
  max-width: 73.125rem;
  margin-inline: auto;
  width: calc(var(--container-width) * 1%);
}

.scrollMarginTop {
  scroll-margin-top: 4rem;
}

.overflow_y_hidden {
  overflow-y: hidden;
}

@media (min-width: 80em) {
  .scrollMarginTop {
    scroll-margin-top: 6rem;
  }

  .overflow_y_hidden {
    overflow-y: auto;
  }
  /* Classes para contole o navigation do Swiper */
  .swiper-button-prev {
    position: absolute !important;
    left: 37rem !important;
  }

  .swiper-button-next {
    position: absolute !important;
    right: 37rem !important;
  }
}

main {
  background-color: var(--neutral-gray);
}
