.name {
  margin: 0;
}

.office {
  opacity: 0.6;
}

.card {
  border-radius: 1.5rem;
  background-color: var(--neutral-white);
  padding-top: 3rem;
  padding-bottom: 1.25rem;
  padding-inline: 1.5rem;
  box-shadow: var(--shadow-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;
  min-width: 17.5rem;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  padding: 2px;
  background: var(--gradiente-light);
  mask:
    linear-gradient(var(--neutral-white) 0 0) content-box,
    linear-gradient(var(--neutral-white) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.voluntary_img {
  --size: 3.75rem;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border: 0.25rem solid var(--neutral-white);
  position: absolute;
  top: calc(var(--size) / -2);
  margin-bottom: 20px;
}

.voluntary_img_filter {
  --size: 3.75rem;
  content: '';
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  top: calc(var(--size) / -2);
  position: absolute;
  background-color: var(--primary-extra-light);
  align-self: center;
  margin-inline: auto;
  mix-blend-mode: color;
}

.quotation {
  align-self: baseline;
  margin-left: 0.375rem;
  margin-bottom: 0.75rem;
}

.text_depoiment {
  text-align: left;
}

@media (min-width: 48em) {
  .card {
    min-width: 310px;
  }
  .voluntary_img {
    --size: 5.375rem;
    border: 0.5rem solid var(--neutral-white);
  }

  .voluntary_img_filter {
    --size: 5.375rem;
  }

  .quotation {
    margin-bottom: 1.75rem;
  }
}
