.name {
  margin: 0;
}

.department {
  opacity: 0.6;
}

.card {
  border-radius: 1.5rem;
  background-color: var(--neutral-white);
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-inline: 2rem;
  box-shadow: var(--shadow-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  padding: 2px;
  background: var(--gradiente-light);
  mask:
    linear-gradient(var(--neutral-white) 0 0) content-box,
    linear-gradient(var(--neutral-white) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.employee {
  --tamanho: 5.375rem;
  border-radius: 100%;
  width: var(--tamanho);
  height: var(--tamanho);
  object-fit: cover;
  border: 8px solid white;
  position: absolute;
  top: calc(var(--tamanho) / -2);
  margin-bottom: 20px;
}

.employee_mask {
  --tamanho: 5.375rem;
  content: '';
  inset: 0;
  width: var(--tamanho);
  height: var(--tamanho);
  border-radius: 100%;
  top: calc(var(--tamanho) / -2);
  position: absolute;
  background-color: var(--primary-extra-light);
  align-self: center;
  margin-inline: auto;
  mix-blend-mode: color;
}

.aspas {
  align-self: baseline;
}

.text_depoiment {
  text-align: left;
}

@media (min-width: 768px) {
  .card {
    min-width: 310px;
  }
}
