/* .swiper-button-prev {
  background-image: url('../../../public//prevswiper.svg');
  background-repeat: no-repeat;
  object-fit: cover;
} */

.swiper-button-prev::after {
  /* content: '' !important; */
  color: var(--neutral-gray-medium);
}

.swiper-button-prev:hover::after {
  color: var(--primary-dark);
}

.swiper-button-next::after {
  color: var(--neutral-gray-medium);
}

.swiper-button-next:hover::after {
  width: 30px !important;
  color: var(--primary-dark);
}

.swiper-pagination-bullet {
  width: 0.75rem !important;
  height: 0.75rem !important;
  background: var(--neutral-gray-light) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--neutral-gray-dark) !important;
}

.swiper-notification {
  display: none !important;
}

.swiper-slide,
.swiper-slide-active {
  min-width: 17, 5rem !important;
}

@media (min-width: 48em) {
  /* Classes para contole o navigation do Swiper  */
  .swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
  }
  /* .swiper-button-prev {
    position: absolute !important;
    left: 5% !important;
  }

  .swiper-button-next {
    position: absolute !important;
    right: 5% !important;
  } */
}

@media (min-width: 80em) {
  /* Classes para contole o navigation do Swiper  */
  .swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
  }
  /* .swiper-button-prev {
    position: absolute !important;
    left: 15% !important;
  }

  .swiper-button-next {
    position: absolute !important;
    right: 15% !important;
  } */
}
