.main_box {
    background-color: var(--neutral-white);
    height: fit-content;
    border-radius: 0.5rem;
    max-width: 87%;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0 0.25rem 1rem 0.5rem rgba(87, 84, 82, 0.1);
    padding-inline: 3rem;
    padding-block: 1rem;
}

.values_content {
    max-width: 100%;
}

.title {
    margin-block: 1rem;
}

.values {
    height: fit-content;
    margin: 0 auto;
    text-align: center;
}

.value {
    max-width: 12.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.value_text {
    margin-bottom: 0.75rem;
}

.value_image {
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.value_description {
    font-size: var(--fs-4);
    font-weight: var(--fw-400);
}

@media screen and (min-width: 80em) {
    .main_box {
        max-width: 70.875rem;
    }
    .title {
        margin-top: none;
        margin-bottom: 2rem;
    }
    .values_content {
        display: flex;
    }
    .value {
        max-width: 13.75rem;
        margin-inline: 1.25rem;
    }
}
