.main_box {
    width: fit-content;
    max-width: 87%;
    padding: 2rem 3.5rem 0.5rem 3.5rem;
    border-radius: 0.5rem;

    background-color: var(--neutral-white);
    box-shadow: var(--shadow-light);
    
    transform: translateY(-16rem);
}

.values {
    height: fit-content;
    text-align: center;
}

.title {
    margin-bottom: 1rem;
}

.values_content {
    justify-content: space-between;
}

.value {
    max-width: 12.5rem;
    margin-bottom: 2.5rem;
}

.value_image {
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.value_text {
    margin-bottom: 0.75rem;
}

@media screen and (min-width: 48em) {
    .main_box{
        max-width: 40rem;
    }
    .values_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .value { 
        max-width: 14rem;
    }
}

@media screen and (min-width: 80em) {
    .main_box {
        max-width: 70.875rem;
        transform: translateY(-10rem);
    }
    .title {
        margin-top: none;
        margin-bottom: 2rem;
    }
    .values_content {
        display: flex;
    }
    .value {
        max-width: 13.75rem;
        margin-inline: 1.25rem;
    }
}
