.main_box {
    background-color: var(--neutral-white);
    box-shadow: var(--shadow-light);
    border-radius: 0.5rem;
    width: fit-content;
    max-width: 87%;
    height: fit-content;
    margin: 0 auto;
    padding-inline: 3rem;
    padding-block: 1rem;
    /* transform: translateY(-16rem); */
}

.values {
    height: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-block: 1rem;
}

.values_content {
    max-width: 100%;
}

.value {
    max-width: 12.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.value_image {
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.value_text {
    margin-bottom: 0.75rem;
}

.value_description {
    font-size: var(--fs-4);
    font-weight: var(--fw-400);
}

@media screen and (min-width: 48em) and (max-width: 79.9375em) {
    .main_box{
        max-width: 40rem;
    }
    .values_content {
        display: flex;
        flex-wrap: wrap;
    }
    .value { 
        max-width: 14rem;
    }
}

@media screen and (min-width: 80em) {
    .main_box {
        max-width: 70.875rem;
        transform: translateY(-10rem);
    }
    .title {
        margin-top: none;
        margin-bottom: 2rem;
    }
    .values_content {
        display: flex;
    }
    .value {
        max-width: 13.75rem;
        margin-inline: 1.25rem;
    }
}
