.card {
  border-radius: 1.5rem;
  background-color: var(--neutral-white);
  padding-top: 48px;
  padding-inline: 24px;
  box-shadow: var(--shadow-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  padding: 2px;
  background: var(--gradiente-light);
  mask:
    linear-gradient(var(--neutral-white) 0 0) content-box,
    linear-gradient(var(--neutral-white) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.card > p {
  margin-bottom: 1rem;
}

.card img {
  --tamanho: 5.375rem;
  border-radius: 100%;
  width: var(--tamanho);
  border: 8px solid white;
  position: absolute;
  top: calc(var(--tamanho) / -2);
  margin-bottom: 20px;
}
