.link__underline {
  text-decoration: underline;
  text-underline-offset: 0.125em;

  color: var(--primary-dark);
}

.accordion_details__box {
  padding-inline: 0 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 1.5rem !important;

  text-align: start;
}

.text__number {
  margin-left: 1.25rem;
  text-indent: -1rem;
}

.text__hyphen {
  margin-left: 1rem;
  margin-bottom: 0;
}

.text__no_margin {
  margin-bottom: 0;
}

.text__normal {
  margin-bottom: 1rem;
}

.text__normal:last-child {
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .accordion_details__box {
    padding-inline: 1rem !important;
  }
}
