.impact__box {
    padding-block: 4.5rem;
    text-align: center;
}

.impact__title {
    margin-bottom: 4.5rem;
}

.impact__item {
    list-style-type: none;
}

.impact {
    margin-inline: auto;
    margin-bottom: 4rem;
    max-width: 11.875rem;
}

.impact:last-child {
    margin-bottom: 0;
}

.impact h3 {
    margin-bottom: 0.25rem;
    color: var(--secondary-dark);
}

.impact p {
    color: var(--neutral-black);
    min-height: 4.125rem;
}

@media screen and (min-width: 60em) {
    .impact__box {
        padding-block: 8rem;
    }
    .impact__title {
        margin-bottom: 5.5rem;
    }
    .impact__item {
        padding-inline: 6.25rem;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5%;
    }
    .impact {
        max-width: 13.5rem;
        margin-bottom: 0;
    }
    .impact h3 {
        margin-bottom: 0.5rem;
    }
}

