.main_box_impact {
    padding-block: 4.5rem;
    /* background-color: teal; */
    text-align: center;
}

.title_impact {
    margin-bottom: 4.5rem;
    /* background-color: antiquewhite; */
}

.impact {
    margin: auto;
    margin-bottom: 4rem;
    max-width: 11.875rem;
    /* background-color: rgb(223, 255, 255); */
}

.impact:last-child {
    margin-bottom: 0;
}

.impact h1 {
    margin-bottom: 0.25rem;
    color: var(--secondary-dark);
    /* background-color: aqua; */
}

.impact p {
    color: var(--neutral-black);
    min-height: 4.125rem;
    /* background-color: blue; */
}

@media screen and (min-width: 80em) {
    .main_box_impact {
        padding-block: 8rem;
    }
    .title_impact {
        margin-bottom: 5.5rem;
    }
    .impact_box {
        padding-inline: 6.25rem;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 12%;
    }
    .impact {
        max-width: 13.5rem;
        margin-bottom: 0;
    }
    .impact h1 {
        margin-bottom: 0.5rem;
    }
}

