.begin {
  padding-top: 2rem;
  background-color: var(--neutral-white);
}

.layout_begin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout_begin img {
  margin-top: 6rem;
  /* margin-top: 3rem; */
  /* sugerir alteração para design */
  width: 100%;
  max-height: max(75vh, 320px);
  max-width: 400px;
}

.text {
  color: var(--neutral-black);
  width: 100%;
}

.text h1 {
  max-width: 20ch;
  margin-inline: auto;
}

.description {
  margin-top: 2rem;

  font-size: var(--fs-4);
  font-weight: var(--fw-400);

  line-height: 1.35;
  opacity: 0.87;
  max-width: 50ch;
  margin-inline: auto;
}

@media (min-width: 48em) {
  .layout_begin {
    justify-content: center;
    flex-direction: row;
  }
  .layout_begin img {
    width: 100%;
    height: auto;
    transform: translateY(1rem);
    min-width: 18.75rem;
    max-width: 42rem;
  }

  .text {
    width: 100%;

    max-width: 29.375rem;
  }

  .title {
    margin-top: 0.5rem;
  }
}

@media (min-width: 80em) {
  .layout_begin {
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.875rem;
    height: 31.875rem;
  }
  .layout_begin img {
    width: 42rem;
    height: 27.15rem;
    max-width: 42rem;
    padding-top: 0;
    transform: translateY(3.75rem);
  }

  .text {
    padding-top: 3.5rem;
    gap: 2rem;
    width: 40%;
  }

  .description {
    font-size: var(--fs-5);
    line-height: 1.5rem;
    opacity: 0.6;
  }
}
