.layout_begin {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86.75%;
}

.layout_begin img {
  margin: 3.8rem 0 3.375rem 0;
  width: 100%;
  max-width: 21.875rem;
}

.text {
  color: var(--neutral-black);
}

.description {
  margin-top: 2rem;

  font-size: var(--fs-4);
  font-weight: var(--fw-400);
  line-height: 1.35;
  opacity: 0.87;


  
  padding: 0;
  text-align-last: left;
  
}


@media (min-width: 48em) {
  .layout_begin {
    justify-content: center;
    flex-direction: row;
  }
  .layout_begin img {
    width: 100%;
    height: auto;

    margin-top: 0;
    transform: translateY(3.75rem);

    min-width: 18.75rem;
    max-width: 42rem;
  }

  .text {
    width: 100%;

    max-width: 29.375rem;
  }

  .title {
    margin-top: 0.5rem;
  }
}

@media (min-width: 80em) {
  .layout_begin {
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.875rem;
  }
  .layout_begin img {
    width: 42rem;
    height: 32rem;
    max-width: 42rem;
    margin: -2.125rem 0 0 0;
  }

  .text {
    padding: 3.5rem 0 0 0;
    gap: 2rem;
    width: 40%;
  }

  .description {
    font-size: var(--fs-5);
    line-height: 1.5rem;
    opacity: 0.6;
  }
}
